:root {
  --error-color: #f94949;
}

body {
	margin: 0px auto !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.footer {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.searchBox {
  display: flex;
}

.searchBox input[type=text] {
  margin-right: 1rem;
}

.form input[type=checkbox] {
  border-color:red ;
}

.toggleSort {
  margin-top: 0.5rem;
}

.toggleSort label:not(.switch) {
  margin-left: 0.5rem;
}

.searchResults span {
  color: var(--focus);
  font-weight: 500;
}

.moviesList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 0;
  text-align: center;
}

.moviesList .moviesList-item {
  display: flex;
  flex-direction: column;
  background: var(--border);
  border-radius: 6px;
}

.moviesList .moviesList-item .moviesList-item--title {
  margin: 0.5rem;
}

.moviesList .moviesList-item .moviesList-item--title h3, .moviesList .moviesList-item .moviesList-item--title p {
  margin: 0;
}

.moviesList .moviesList-item .moviesList-item--title h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.moviesList .moviesList-item img {
  flex: 1 1;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  aspect-ratio: 1/1.5;
}

.error {
  color: var(--error-color);
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.errorMsg {
  background-color: var(--error-color);
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.loader {
  width: 100%;
  height: 6px;
  display: inline-block;
  position: relative;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}

.loader::after {
  content: '';
  width: 33%;
  height: 6px;
  background: var(--focus);
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}